<h1>Om oss</h1>

<div class="wrapper">
    <div >
        <h3 class="middlewrap">
            Sedan 2007 är det Antonio och hans tre bröder som driver restaurangen. Under 2011-2012 har man gjort omfattande renoveringar för att göra restaurangen ännu mer trivsam.
            Tomasos Pizzeria håller en hög klass på den lagade maten och önskar erbjuda bra kvalitet till ett rimligt pris. Vi tackar alla våra trogna kunder för att ni är så trevliga, och till dig som inte testat vår mat ännu säger vi – välkommen in!

            
        </h3>

        <h3>Med vänliga hälsningar Antonio med personal</h3>
    </div>
</div>

