@model TomasosPizza.Models.Bestallning

<h1>Tack för din beställning!</h1>

<div class="wrapper">
    <div class="marg">
        <p class="psize">Order Datum:</p>
        <p>@Model.BestallningDatum</p>
        <p class="psize">Totalt belopp: </p>
        <p>@Model.Totalbelopp :-</p>

        <br /><br /><br />

        <strong class="pcolor">Smaklig Spis!</strong>
    </div>

</div>

